<div class="container">
    <form class="needs-validation" novalidate>



        <div class="form-group  required">

            <label for="task">Task:</label>

            <input type="text" name="task" class="form-control" id="taskid" [(ngModel)]="task.task">

        </div>



        <div class="form-group ">

            <label for="priority">Priority:</label>

            <span>0</span>
            <span>30</span>
            <input type="range" (click)="onDrag($event)" name="priority" min="0" max="30" class="custom-range" [(ngModel)]="task.priority">
            <span>{{task.priority}}</span>

        </div>

        <div class="form-group  required">

            <label for="parentTask">Parent
          Task:</label>


            <input type="text" class="form-control" id="parentTask" name="parentTask" [(ngModel)]="task.pTask.parentTaskName">



        </div>

        <div class="form-group  required">

            <label for="startDate">Start
          Date:</label>

            <input type="text" name="startDate" class="form-control" placeholder="DD/MM/YYYY" id="startDate" [(ngModel)]="task.startDate">

        </div>
        <div class="form-group  required">
            <label for="endDate">End
          Date:</label>

            <input type="text" name="endDate" class="form-control" placeholder="DD/MM/YYYY" id="endDate" [(ngModel)]="task.endDate">

        </div>



        <div class="form-group ">


            <button type="button" id="add" class="btn btn-primary" [disabled]="!(task.task && task.startDate && task.endDate   && validateDate())" (click)="saveOrUpdateTask()">Add Task</button>

            <button type="button" id="reset" class="btn btn-primary" (click)="reset()">Reset</button>


        </div>

    </form>
</div>


<ng-template #template1>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Parent Task</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeParentTaskModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" style="width:500px;height:500px">
        <div class="row">
            <div class="col-md-2">
                <label for="Search" class="col-form-label-lg" style="margin-left: 25%">Search</label>
            </div>
            <div class="col-md-6">
                <input type="text" name="parentTaskSearchValue" class="form-control" [(ngModel)]="parentTaskSearchValue">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="parentTaskName" class="col-sm-3 col-form-label col-form-label-lg" style="white-space:nowrap">Parent Task</label>
            </div>


            <div *ngFor="let parentTask of filteredParentTasks;let i = index">
                <div class="row" id="{{i}}">
                    <div class="col-md-4">
                        <input type="text" name="parentTaskName" class="form-control" id="parentTaskName" disabled="true" value="{{parentTask.parentTaskName}}" style="margin-left:20%">
                    </div>
                    <div class="col-md-3">
                        <input type="text" name="parentId" class="form-control" id="parentId" disabled="true" value="{{parentTask.id}}">
                    </div>
                    <div class="col-md-3" style="padding:1%">
                        <button type="button" id="select" class="btn btn-primary" (click)="selectParentTask(i)">Select</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</ng-template>