<div class="container">
    <!-- <div class="row" > -->

    <div class="d-flex flex-row">
        <div class="p-2">
            <b>Task:  </b>
            <input type="text" name="searchValue1" (keyup.enter)="filterTask($event)" id="searchValue1" [(ngModel)]="taskSearchVal">
        </div>
        <div class="p-2">
            <b>ParentTask:  </b>
            <input type="text" name="searchValue2" (keyup.enter)="filterPTask($event)" id="searchValue2" [(ngModel)]="ptaskSearchVal">
        </div>
        <div class="p-2">
            <b>Start Date:  </b>
            <input type="text" name="searchValue3" (keyup.enter)="filterStDtTask($event)" id="searchValue3" [(ngModel)]="startDtSearchVal">
        </div>
    </div>
    <div><br></div>
    <div class="d-flex flex-row">
        <div class="p-2">
            <b>End Date:  </b>
            <input type="text" name="searchValue4" (keyup.enter)="filterEndDtTask($event)" id="searchValue4" [(ngModel)]="endDtSearchVal">
        </div>
        <div class="p-2">
            <b>Priority From:  </b>
            <input type="text" name="searchValue5" (keyup.enter)="filterPriorityFTask($event)" id="searchValue5" [(ngModel)]="priorityFSearchVal">
        </div>
        <div class="p-2">
            <b>Priority To:  </b>
            <input type="text" name="searchValue6" (keyup.enter)="filterPriorityTTask($event)" id="searchValue6" [(ngModel)]="priorityTSearchVal">
        </div>
    </div>
    <div><br></div>
    <div><br></div>
    <table id="view1" class="table table-striped">
        <tr>
            <th>Task</th>
            <th>Parent </th>
            <th>Priority </th>
            <th>Start </th>
            <th>End </th>
            <th></th>
        </tr>
        <tr *ngFor="let task of filteredTasks;let i = index">
            <td>{{task.task}}</td>
            <td>{{task.pTask.parentTaskName}}</td>
            <td>{{task.priority}}</td>
            <td>{{task.startDate}}</td>
            <td>{{task.endDate}}</td>
            <td>

                <button type="button" (click)="openModal(template,i)" class="btn btn-primary">Edit</button>

                <button type="button" (click)="endTask(i)" class="btn btn-warning">End Task</button>

                <button type="button" (click)="deleteTask(i)" class="btn btn-danger">Delete Task</button>
            </td>

        </tr>
    </table>



</div>
<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Update Task</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form class="needs-validation" #addForm novalidate>
            <div class="form-group row required" style="margin-left:1.5%">
                <label for="taskName2" class="col-sm-2 col-form-label">Task:</label>
                <div class="col-md-6">
                    <input type="text" name="taskName2" class="form-control" id="taskName2" [(ngModel)]="filteredTasks[index].task">
                </div>
            </div>

            <div class="form-group row" style="margin-left:1.5%">
                <label for="priority2" class="col-sm-2 col-form-label">Priority:</label>
                <div class="col-md-6">
                    <span class="font-weight-bold indigo-text mr-2 mt-1">0</span>
                    <span class="font-weight-bold indigo-text ml-2 mt-1 pd-90">30</span>
                    <input type="range" (click)="onKey($event,index)" name="priority2" min="0" max="30" class="custom-range" style="margin-left:2%" [(ngModel)]="filteredTasks[index].priority">
                    <span class="font-weight-bold indigo-text ml-2 mt-1 pd-90">{{filteredTasks[index].priority}}</span>
                </div>
            </div>

            <div class="form-group row required" style="margin-left:1.3%">
                <label for="parentTask2" class="col-sm-2 col-form-label" style="white-space:nowrap">Parent Task:</label>
                <div class="col-md-6">
                    <input type="text" name="parentTask2" class="form-control" id="parentTask2" style="margin-left:2%" [(ngModel)]="filteredTasks[index].pTask.parentTaskName">
                </div>
                <div class="col-md-2">
                    <button type="button" id="search" class="button buttonSearch" (click)="openParentTaskModal(template2)">Serach</button>
                </div>
            </div>

            <div class="form-group required row" style="margin-left:1.5%">
                <label for="startDate2" class="col-sm-2 col-form-label" style="white-space:nowrap">Start Date:</label>

                <div class="col-xs-12 col-md-5 col-lg-4 form-group">
                    <input type="text" class="form-control" placeholder="DD/MM/YYYY" name="startDate2" style="margin-left:2%" id="startDate2" [(ngModel)]="filteredTasks[index].startDate">
                </div>



            </div>

            <div class="form-group required row" style="margin-left:1.5%">
                <label for="endDate2" class="col-sm-2 col-form-label" style="white-space:nowrap">End Date:</label>


                <div class="col-xs-12 col-md-5 col-lg-4 form-group">
                    <input type="text" class="form-control" placeholder="DD/MM/YYYY" name="endDate2" id="endDate2" style="margin-left:2%" [(ngModel)]="filteredTasks[index].endDate">
                </div>

            </div>

            <div class="form-group row">
                <div class="col-sm-4"></div>
                <button type="button" class="btn btn-secondary btn-sm" style="margin:10px" [disabled]="!(filteredTasks[index].task &&  filteredTasks[index].startDate && filteredTasks[index].endDate && validateDate(index))" (click)="saveTask(index)">Update</button>
                <button type="button" class="btn btn-secondary btn-sm" style="margin:10px" (click)="closeModal()">Close</button>
                <div class="col-sm-2"></div>
            </div>

        </form>
    </div>
</ng-template>